<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @list.name %></h1>
    <p><%= @list.description %></p>
    <%= link_to "Add Movie", new_list_bookmark_path(@list), class: "btn btn-flat mt-4" %>
  </div>
</div>
<div class="container">
  <div class="cards-movies">
    <% @bookmarks.each do |bookmark| %>
    <div class="card-movie">
      <%= image_tag bookmark.movie.poster_url, width: 200  %>
      <div class="card-movie-infos">
        <div class="card-movie-content">
          <div class="movie-title-rating d-flex justify-content-between mb-3 mt-1">
            <h2><%= bookmark.movie.title %></h2>
            <h2><%= bookmark.movie.rating %>    ⭐️</h2>
          </div>
          <p><%= bookmark.movie.overview %></p>
        </div>
        <div class="movie-footer d-flex justify-content-between align-items-end mt-4">
          <em>"<%= bookmark.comment %>"</em>
          <p><%= link_to 'remove', bookmark_path(bookmark), method: :delete, class: "btn btn-delete mr-2"%></p>
        </div>
      </div>  
    </div>
    <% end  %>
  </div>
</div>
